<!doctype html>
<html lang="pt-br">
<head> 
    <meta charset="utf-8">
    <title>Trabalho final</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Selecione um assunto:</h1>
    <form action="reportagens.html" method="GET">
        <select id="tema" name="tema" required> 
            <option value="select">Selecionar...</option>
            <option value = "cz74k717pw5t">Brasil</option>
            <option value = "cmdm4ynm24kt">Internacional</option>
            <option value = "cvjp2jr0k9rt">Economia</option>
        </select>
        <input type="submit" value="Submit"> 
    </form>

    <p>
        <button><a href="/">HOME</a></button> 
        <button><a href="/curriculo">CURRÍCULO</a></button>
        <button><a href="/portfolio">PORTFÓLIO</a></button>
      </p>

</body>
</html>