<!DOCTYPE html>
<html>
  <title>Ana Carolina Andrade</title>
    <body>
      <div><style>
        body {
          font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif; 
          margin: 10px; 
          background-color: #f8f8f8; 
        }
        h1, h2, h3 {
          color: #8B0000; 
          margin-bottom: 10px; 
        }
        p {
          color: #232324; 
          margin-bottom: 10px; 
        }
        p {margin-bottom: 1px}</style>

    <h1>Sobre mim</h1>
    <style>.imagens {position: absolute; top: 40px; right: 30px;}         
    </style>
    <img class="imagens" src="https://raw.githubusercontent.com/elsavillon/site_automacao_grupo_5/main/static/fotoperfil.png" alt="Foto de Ana Carolina, uma mulher branca, de cabelos castanhos na altura do ombro e óculos de grau">

        <h2>Sou jornalista e produzo conteúdo para mídias digitais</h2>
        <text>Possuo graduação em <b>Jornalismo</b> pela <b>PUC-SP</b>, <b>pós-graduação</b>
            em Gestão da Comunicação em <br> <b>Mídias Digitais</b> pelo <b>Senac SP</b>,
            especialização em <b>Gênero e Sexualidade</b> pela <b>UERJ</b> e atualmente <br> 
            curso um <b>Master em Jornalismo de Dados, Automação e Data Storytelling</b> no <b>Insper</b>.</text>
        
        <h2>Tenho experiência com gestão, produção de reportagens e <br> criação de conteúdo para redes sociais</h2>
        <text>Já trabalhei na <b>Câmara Municipal de São Paulo</b>, na <b>Prefeitura Municipal de São Paulo</b>, <br> com <b>jornalismo sindical</b>, 
            cobertura sobre <b>direitos das mulheres</b> e no <b>BandNews TV</b>. <br> Hoje sou freelancer.</text>

        <p><button><a href="/curriculo">Currículo</a></button> <button><a href="/portfolio">Portfólio</a></button> </p>

    </div>
  </body>
</html>
